.episode-preview .overlay-on-hover {
    display: none;
}

.episode-preview .overlay,
.episode-preview:hover .overlay-on-hover {
    display: flex;
    align-items: center;
}

.episode-preview:hover,
.episode-preview-active {
    background-color: #f7fafc;
}

.episode-preview:hover .options,
.episode-preview-active .options
{
    visibility: visible;
}

.episode-preview .options {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .episode-preview .overlay-on-hover {
        display: flex;
        align-items: center;
    }

    .episode-preview .options,
    .episode-preview-active .options {
        visibility: visible;
    }
}