.episode-preview .overlay-on-hover {
    display: none;
}

.episode-preview .overlay,
.episode-preview:hover .overlay-on-hover {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .episode-preview .overlay-on-hover {
        display: flex;
        align-items: center;
    }
}