.page-layout {
    padding: 3.5rem 0.75rem 10rem 0.75rem;
}

.page-layout-split {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0.75rem 10rem 0.75rem;
}

.page-layout-split .first {
    width: 100%;
}

.page-layout-split .second {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page-layout {
        padding: 0 3.5rem 6rem 20.5rem;
    }

    .page-layout-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3.5rem 8rem 20.5rem;
    }
    
    .page-layout-split .first {
        width: 65%;
    }
    
    .page-layout-split .second {
        width: 31%;
    }
}

@media only screen and (min-width: 1500px) {
    .page-layout {
        padding: 0 9.5rem 6rem 27.5rem ;
    }

    .page-layout-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.5rem 8rem 27.5rem;
    }
    
    .page-layout-split .first {
        width: 68%;
    }
    
    .page-layout-split .second {
        width: 28%;
    }
}

