.page-layout {
    padding: 3.5rem 0.75rem 10rem 0.75rem;
}

.page-layout-split {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0.75rem 10rem 0.75rem;
}

.page-layout-split .first {
    width: 100%;
}

.page-layout-split .second {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .page-layout {
        padding: 0 1.5rem 6rem 18.5rem;
    }

    .page-layout-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem 8rem 18.5rem;
    }
    
    .page-layout-split .first {
        width: 68%;
    }
    
    .page-layout-split .second {
        width: 28%;
    }
}



